<a href="https://colab.research.google.com/github/pranavkagrawal02/Minor-In-AI-IIT-Ropar/blob/main/Feb_25_pandas_df_ops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: case to handle the dropping duplicates

import pandas as pd

# Create a sample DataFrame with duplicate rows
data = {'col1': [1, 2, 2, 3, 4, 4, 4],
        'col2': ['A', 'B', 'B', 'C', 'D', 'D', 'D'],
        'col3': [10, 20, 20, 30, 40, 40, 40]}
df = pd.DataFrame(data)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Drop duplicate rows based on all columns
df_no_duplicates = df.drop_duplicates()

# Print the DataFrame with duplicates removed
print("\nDataFrame with duplicates removed (all columns):")
print(df_no_duplicates)

Original DataFrame:
   col1 col2  col3
0     1    A    10
1     2    B    20
2     2    B    20
3     3    C    30
4     4    D    40
5     4    D    40
6     4    D    40

DataFrame with duplicates removed (all columns):
   col1 col2  col3
0     1    A    10
1     2    B    20
3     3    C    30
4     4    D    40

In [ ]:
# prompt: simple pandas program to demo the str.replace()

import pandas as pd

# Sample DataFrame
data = {'col1': ['apple', 'banana', 'cherry'],
        'col2': ['apple pie', 'banana bread', 'cherry cake']}
df = pd.DataFrame(data)

print(df, "\n")

# Replace 'apple' with 'orange'
df['col1'] = df['col1'].str.replace('apple', 'orange')
df['col2'] = df['col2'].str.replace('apple', 'orange')

print(df, "\n")

# Replace 'pie' with 'tart' in 'col2'
df['col2'] = df['col2'].str.replace('pie', 'tart')

print(df, "\n")

     col1          col2
0   apple     apple pie
1  banana  banana bread
2  cherry   cherry cake

     col1          col2
0  orange    orange pie
1  banana  banana bread
2  cherry   cherry cake

     col1          col2
0  orange   orange tart
1  banana  banana bread
2  cherry   cherry cake

In [ ]:
# prompt: simple pandas progrm to add and drop a column

import pandas as pd

#create a sample dataframe
data = {'col1': [1,2], 'col2': [3,4]}
df = pd.DataFrame(data)

#add a new column
df['col3'] = [5,6]
print(df, "\n")

#drop a column
df = df.drop('col3', axis=1)
print(df, "\n")

   col1  col2  col3
0     1     3     5
1     2     4     6

   col1  col2
0     1     3
1     2     4

In [ ]:
# prompt: simple pandas program to use map

import pandas as pd

# Sample DataFrame
data = {'item': [1, 2, 3],
        'price': [90, 75, 65]}
df = pd.DataFrame(data)
print(df, "\n")

# Define a mapping function
def double_value(x):
  return x * 0.04

# Apply the mapping function to 'col1' using map()
df['tax'] = df['price'].map(double_value)

print(df)

   item  price
0     1     90
1     2     75
2     3     65

   item  price  tax
0     1     90  3.6
1     2     75  3.0
2     3     65  2.6

In [ ]:
# prompt: program to demo Sorting  in pandas. take examples of courses and number of students registered

import pandas as pd

# Sample data for courses and number of students
courses = ['Math', 'Science', 'English', 'History', 'Physics']
students = [25, 30, 20, 28, 35]

# Create a DataFrame
df = pd.DataFrame({'Course': courses, 'Students': students})

print("Original DataFrame:")
print(df)

# Sort by the number of students (ascending order)
df_sorted_asc = df.sort_values(by='Students')
print("\nDataFrame sorted by Students (ascending):")
print(df_sorted_asc)

# Sort by course name (descending order)
df_sorted_desc = df.sort_values(by='Course', ascending=False)
print("\nDataFrame sorted by Course (descending):")
print(df_sorted_desc)

Original DataFrame:
    Course  Students
0     Math        25
1  Science        30
2  English        20
3  History        28
4  Physics        35

DataFrame sorted by Students (ascending):
    Course  Students
2  English        20
0     Math        25
3  History        28
1  Science        30
4  Physics        35

DataFrame sorted by Course (descending):
    Course  Students
1  Science        30
4  Physics        35
0     Math        25
3  History        28
2  English        20