<a href="https://colab.research.google.com/github/pranavkagrawal02/Minor-In-AI-IIT-Ropar/blob/main/Feb_25_pandas_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample data for 5 e-commerce products
data = {
    'Product Domain': ['Electronics', 'Clothing', 'Electronics', 'Home & Kitchen', 'Books'],
    'Model': ['Smartphone X', 'T-Shirt', 'Laptop Pro', 'Coffee Maker', 'Python Programming'],
    'Color': ['Black', 'Blue', 'Silver', 'Red', 'N/A'],
    'Price': [899.99, 19.99, 1299.99, 49.99, 29.99],
    'Rating': [4.5, 4.0, 4.8, 3.5, 5.0]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the entire DataFrame
print("Original DataFrame:\n", df)

# Accessing columns
print("\nProduct Models:\n", df['Model'])

# Accessing rows using index
print("\nSecond product:\n", df.iloc[1])

# Filtering data
print("\nProducts with rating >= 4.5:\n", df[df['Rating'] >= 4.5])

# Sorting data
print("\nProducts sorted by price:\n", df.sort_values(by='Price'))

Original DataFrame:
    Product Domain               Model   Color    Price  Rating
0     Electronics        Smartphone X   Black   899.99     4.5
1        Clothing             T-Shirt    Blue    19.99     4.0
2     Electronics          Laptop Pro  Silver  1299.99     4.8
3  Home & Kitchen        Coffee Maker     Red    49.99     3.5
4           Books  Python Programming     N/A    29.99     5.0

Product Models:
 0          Smartphone X
1               T-Shirt
2            Laptop Pro
3          Coffee Maker
4    Python Programming
Name: Model, dtype: object

Second product:
 Product Domain    Clothing
Model              T-Shirt
Color                 Blue
Price                19.99
Rating                 4.0
Name: 1, dtype: object

Products with rating >= 4.5:
   Product Domain               Model   Color    Price  Rating
0    Electronics        Smartphone X   Black   899.99     4.5
2    Electronics          Laptop Pro  Silver  1299.99     4.8
4          Books  Python Programming     N/A    29.99     5.0

Products sorted by price:
    Product Domain               Model   Color    Price  Rating
1        Clothing             T-Shirt    Blue    19.99     4.0
4           Books  Python Programming     N/A    29.99     5.0
3  Home & Kitchen        Coffee Maker     Red    49.99     3.5
0     Electronics        Smartphone X   Black   899.99     4.5
2     Electronics          Laptop Pro  Silver  1299.99     4.8

In [ ]:
import pandas as pd

df = pd.read_csv("sales_data-1.csv")
print(df)

df.fillna({'Price': df['Price'].mean()}, inplace = True)
print(df)
df['Product'] = df['Product'].str.replace('-', ' ')
print(df)

    TransactionID       City         Product    Price  Quantity     Sales
0            1000     Mumbai    Mobile-Apple  70000.0         3  210000.0
1            1001  Bangalore   Tablet-Lenovo      NaN         3       NaN
2            1002     Mumbai    Mobile Apple  70000.0         2  140000.0
3            1003     Mumbai  Mobile-Samsung  20000.0         3   60000.0
4            1004      Delhi       Laptop HP  55000.0         1   55000.0
5            1005     Mumbai   Tablet-Lenovo  18000.0         2   36000.0
6            1006     Mumbai     Laptop-Dell  62000.0         2  124000.0
7            1007  Bangalore     Laptop-Dell  62000.0         3  186000.0
8            1008  Bangalore     Laptop-Dell  62000.0         1   62000.0
9            1009  Bangalore   Tablet-Lenovo      NaN         1   18000.0
10           1010      Delhi   Tablet Lenovo  18000.0         1   18000.0
    TransactionID       City         Product         Price  Quantity     Sales
0            1000     Mumbai    Mobile-Apple  70000.000000         3  210000.0
1            1001  Bangalore   Tablet-Lenovo  48555.555556         3       NaN
2            1002     Mumbai    Mobile Apple  70000.000000         2  140000.0
3            1003     Mumbai  Mobile-Samsung  20000.000000         3   60000.0
4            1004      Delhi       Laptop HP  55000.000000         1   55000.0
5            1005     Mumbai   Tablet-Lenovo  18000.000000         2   36000.0
6            1006     Mumbai     Laptop-Dell  62000.000000         2  124000.0
7            1007  Bangalore     Laptop-Dell  62000.000000         3  186000.0
8            1008  Bangalore     Laptop-Dell  62000.000000         1   62000.0
9            1009  Bangalore   Tablet-Lenovo  48555.555556         1   18000.0
10           1010      Delhi   Tablet Lenovo  18000.000000         1   18000.0
    TransactionID       City         Product         Price  Quantity     Sales
0            1000     Mumbai    Mobile Apple  70000.000000         3  210000.0
1            1001  Bangalore   Tablet Lenovo  48555.555556         3       NaN
2            1002     Mumbai    Mobile Apple  70000.000000         2  140000.0
3            1003     Mumbai  Mobile Samsung  20000.000000         3   60000.0
4            1004      Delhi       Laptop HP  55000.000000         1   55000.0
5            1005     Mumbai   Tablet Lenovo  18000.000000         2   36000.0
6            1006     Mumbai     Laptop Dell  62000.000000         2  124000.0
7            1007  Bangalore     Laptop Dell  62000.000000         3  186000.0
8            1008  Bangalore     Laptop Dell  62000.000000         1   62000.0
9            1009  Bangalore   Tablet Lenovo  48555.555556         1   18000.0
10           1010      Delhi   Tablet Lenovo  18000.000000         1   18000.0