<a href="https://colab.research.google.com/github/pranavkagrawal02/Minor-In-AI-IIT-Ropar/blob/main/Feb_11_Searching%26Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

Hello

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
Hello
Hello
Hello
Hello
Hello

In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
#loop we can do this repeatitive task
How many times
What to do -- cleared

In [ ]:
for i in range(0,5):
    print("Hello")

#range(0,5) function can give numbers 0, 1, 2, 3, 4

Hello
Hello
Hello
Hello
Hello

In [ ]:
#Print the numbers from 1 to 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# list --> Collection of elements/ Collection of numbers
my_list = [10,20,30,40,50,60,70]
n = len(my_list)

In [ ]:
print(n)

7

In [ ]:
print(my_list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
[10, 20, 30, 40, 50, 60, 70]

In [ ]:
print(my_list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
10
20
30
40
50
..

In [ ]:
print(my_list[0])
print(my_list[1])
print(my_list[2])

10
20
30

In [ ]:
n = len(my_list)
for i in range(0,n):
    #i = 0,1,2,3,4,...
    print(my_list[i])

10
20
30
40
50
60
70

In [ ]:
#Linear Search
my_list = [1,5,6,2,8]

n = len(my_list)
found = False
key = 4

for i in range(0,n):
    if my_list[i]==key:
        found = True

if found==True:
    print("Found")
else:
    print("Not Found")

Not Found

In [ ]:
#Find the minimum element index inside the list
my_list = [12, 87, 65, 87, 76, 7, 84, 47, 86, 88, 100, 80, 15, 70, 59, 77, 55, 47, 77, 18, 23, 17, 46, 2, 80, 22, 64, 44, 41, 41, 38, 21, 1, 62, 60, 60, 48, 16, 72, 98, 26, 6, 5, 78, 28, 58, 33, 88, 72, 28]
n = len(my_list)
max_idx = 0
for i in range(1,n):
    if my_list[i]> my_list[max_idx]:
        max_idx = i

print(max_idx)

10

In [ ]:
Find the index of the maximum eleme

In [ ]:
import random
random_list = []
for i in range(0,50):
    num = random.randint(1,100)
    random_list.append(num)

print(random_list)

[12, 87, 65, 87, 76, 7, 84, 47, 86, 88, 100, 80, 15, 70, 59, 77, 55, 47, 77, 18, 23, 17, 46, 2, 80, 22, 64, 44, 41, 41, 38, 21, 1, 62, 60, 60, 48, 16, 72, 98, 26, 6, 5, 78, 28, 58, 33, 88, 72, 28]

In [ ]:
#Selection Sort
my_list = [5,1,4,2,8]
n = len(my_list)

for i in range(0,n):
   min_idx = i
   for j in range(i+1,n):
        if my_list[j]< my_list[min_idx]:
            min_idx = j
       #Place the element at 0th index
   my_list[i], my_list[min_idx] = my_list[min_idx], my_list[i]

print(my_list)

[1, 2, 4, 5, 8]

In [ ]:
my_list = [52,13,46,24,20,9]
n = len(my_list)
for i in range(0,n):
    for j in range(0,n-1-i):
        if my_list[j] > my_list[j+1]:
             my_list[j], my_list[j+1] =  my_list[j+1], my_list[j]

print(my_list)

[9, 13, 20, 24, 46, 52]

In [ ]:
#Binary Search
my_list = [3,4,6,7,9,12,16,17]
target = 13
ans = -1
start = 0
end = len(my_list)-1

while(start<=end):
    mid = (start+end)//2

    if(my_list[mid]==target):
        ans = mid
        break
    elif(my_list[mid]>target):
        end = mid-1
    elif (my_list[mid]<target):
        start = mid+1

print(ans)

-1

In [ ]:
def partition(my_list, start, end):
    t1 = start
    t2 = end
    pivot = my_list[(start+end)//2]

    while True:
        while my_list[t1]<pivot:
            t1 += 1
        while my_list[t2]>pivot:
            t2 -= 1
        if t1>=t2:
            return t2

        #swap
        my_list[t1], my_list[t2] = my_list[t2], my_list[t1]
        t1 += 1
        t2 -= 1

In [ ]:
def quicksort(my_list, start, end):
    if start<end:
        t2 = partition(my_list, start, end)
        quicksort(my_list,start,t2)
        quicksort(my_list,t2+1,end)

In [ ]:
my_list = [7,6,1,5,4,9,2,3]
quicksort(my_list,0, len(my_list)-1)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
print("Hello") #1 instructions

Hello

In [ ]:
print("Hello") #2 instructions
print("Hello")

Hello
Hello

In [ ]:
for i in range(0,10):
    print("Hello")

In [ ]:
for i in range(0,10):
    print("Hello")
    print("Hello")

In [ ]:
for i in range(0,n):
    for j in range(0,n):
        print(my_list[i])

    print(my_list[i])
n = 1000000
# n*n + n = 1000000+1000 = 100000001000  ~ O(n*n)

In [ ]:
key = 5
n = len(my_list) #number of instructions is n
for i in range(0,len(my_list)):
    if(my_list[i]==key):
        print("Found")

In [ ]:
Time complexity of linear search is O(n)

In [ ]:
for i in ran