<a href="https://colab.research.google.com/github/pranavkagrawal02/Minor-In-AI-IIT-Ropar/blob/main/Feb_7_Tutorial_Session_Python_8thFeb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionaries

It is nothing but key value pairs.
- ordered
- mutable
- keys must be unique

Usual representation: {key:value}

In [ ]:
#student here is empty dictionary
student ={}
print(type(student))

#lets add some students
student = {
    1:"student1",
    2:"student2",
    3:"student3"
}

#lets say we want to keep data of a class inside dictionary
# Note : 1. We can have dictionary inside dictionary on the place of value , not keys as keys needs too be unique
# We can even have a list in place of values
# We can conclude that we can use other data structres on the place of value
class_Batch4 = {
    "Ram": {
        "Roll No" : 1,
        "Present" : True,
        "Subject": ["Python", "Linear Algebra" , "English"]
        },
    "Shyam": {
        "Roll No" : 2,
        "Present" : True,
        "Subject": ["Python", "Linear Algebra" , "English"]
        },
    "Hari": {
        "Roll No" : 3,
        "Present" : True,
        "Subject": ["Python", "Linear Algebra" , "English"]
        }
    }

<class 'dict'>

In [ ]:
print(class_Batch4["Ram"]["Roll No"])

1

In [ ]:
#printing entire dictionary
print("This is the entire dictionary")
print(class_Batch4)

#printing each indiviual cell
for i in class_Batch4:
  #this will only print keys
  print(i)
  #this will print the values associated with key
  print(class_Batch4[i])

#printing dictionary inside dictionary
for i in class_Batch4:
  print(i)
  for j in class_Batch4[i]:
    print(j,":",class_Batch4[i][j])

print(class_Batch4["Ram"]["Subject"][1])

This is the entire dictionary
{'Ram': {'Roll No': 1, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}, 'Shyam': {'Roll No': 2, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}, 'Hari': {'Roll No': 3, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}}
Ram
{'Roll No': 1, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}
Shyam
{'Roll No': 2, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}
Hari
{'Roll No': 3, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}
Ram
Roll No : 1
Present : True
Subject : ['Python', 'Linear Algebra', 'English']
Shyam
Roll No : 2
Present : True
Subject : ['Python', 'Linear Algebra', 'English']
Hari
Roll No : 3
Present : True
Subject : ['Python', 'Linear Algebra', 'English']
Linear Algebra

In [ ]:
#methods/functions predefined with dictionary

# .keys(): Returns all the keys
print(class_Batch4.keys())

# .values(): Returns all the values
print(class_Batch4.values())

print("---------------------------------")
for i in class_Batch4.values():
  print(type(i))
  print(i)
print("---------------------------------")

# .items(): Returns all the items

print("---------------------------------")
for i in class_Batch4.items():
  print(i)
print("---------------------------------")

# .get(key, default) : Returns value of key or default if key not found
print(class_Batch4.get("Arun", ""))

# .pop(key): Removes all key value pair
dict = {1:"A",2:"B",3:"C",4:"D"}
print(dict)
dict.pop(1)
print(dict)

# .update(): You can use this to merge two dictionary
dict1 = {1:"A",2:"B",3:"C",4:"D"}
dict2 = {5:"E",6:"F"}
dict1.update(dict2)
print(dict1)

dict_keys(['Ram', 'Shyam', 'Hari'])
dict_values([{'Roll No': 1, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}, {'Roll No': 2, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}, {'Roll No': 3, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}])
---------------------------------
<class 'dict'>
{'Roll No': 1, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}
<class 'dict'>
{'Roll No': 2, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}
<class 'dict'>
{'Roll No': 3, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']}
---------------------------------
---------------------------------
('Ram', {'Roll No': 1, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']})
('Shyam', {'Roll No': 2, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']})
('Hari', {'Roll No': 3, 'Present': True, 'Subject': ['Python', 'Linear Algebra', 'English']})
---------------------------------

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}
{2: 'B', 3: 'C', 4: 'D'}
{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F'}

In [ ]:
#print(class_Batch4["Arun"])

#whyyyyy
print(class_Batch4.get("Arun","User Not Found"))

User Not Found

#Tuples

- Ordered: items have fixed order
- Immutable: Cannot of changed once created
- Allows duplicates : Can contain repeated values

Usual Representation : tup = ()

In [ ]:
#This is empty tuple
fruits=()
print(fruits)

#this is fruits tuple (we can update it but can't change)
fruits =("apple", "banana", "cherry","mango","pear")
print(fruits)
print(type(fruits))

#single elemet tuple can be defined like this
brand=("apple")
num =(1)
print(num)


tup = ("hi")
print(tup)

()
('apple', 'banana', 'cherry', 'mango', 'pear')
<class 'tuple'>
1
hi

In [ ]:
#Most of the operations are very similar to lists

print(fruits[0])

print(fruits[1])


#slicing

print(fruits[0:2])

print(fruits[0:-1])
print(fruits[-1])

print(fruits[0:])

print(fruits[::-1])


#looping through the tuple
#syntax: for variable in tuple
for fruit in fruits:
    print(fruit)

apple
banana
('apple', 'banana')
('apple', 'banana', 'cherry', 'mango')
pear
('apple', 'banana', 'cherry', 'mango', 'pear')
('pear', 'mango', 'cherry', 'banana', 'apple')
apple
banana
cherry
mango
pear

In [ ]:
#methods in tuples

#.count(value) : how many times does a value appears (as we already know there is repetation)
num= (1,1,2,2,5,3,4,1)
print(num.count(1))

# .index(value) : first occurance will be returned
print(num.index(1))
print(num.index(3))

3
0
5

In [ ]:
#one bonus feature i would like to let you know is unpacking of tuple
fruits =("apple", "banana", "cherry","Bango")

x,*y,z= fruits

print(x)
print(y)
print(z)

a,*c,d =fruits

apple
['banana', 'cherry']
Bango

In [ ]:
# prompt: generate difference between lists, tuples, and sets

# Lists
# - Ordered: Items have a defined order, and that order will not change.
# - Mutable: Items can be changed, added, and removed after the list has been created.
# - Allows duplicates: Lists can have items with the same value.

# Usual representation: my_list = []
my_list = [1, 2, 3, 2, "apple", "banana"]

# Tuples
# - Ordered: Items have a defined order, and that order will not change.
# - Immutable: Items cannot be changed, added, or removed after the tuple has been created.
# - Allows duplicates: Tuples can have items with the same value.

# Usual representation: my_tuple = ()
my_tuple = (1, 2, 3, 2, "apple", "banana")


# Sets
# - Unordered: Items do not have a defined order. You cannot refer to an item by using an index.
# - Mutable: Items can be added and removed, but existing items cannot be changed.
# - No duplicates: Sets cannot have two items with the same value.

# Usual representation: my_set = {}
my_set = {1, 2, 3, "apple", "banana"}  # Note: Duplicates are automatically removed


# Differences Summarized

# | Feature      | List     | Tuple    | Set      |
# |--------------|----------|----------|----------|
# | Order        | Ordered  | Ordered  | Unordered|
# | Mutability   | Mutable  | Immutable| Mutable  |
# | Duplicates   | Allowed  | Allowed  | Not Allowed|
# | Use Cases    | Storing collections of items that might need to change | Storing collections of items that should not change| Removing duplicates, membership testing|

#Sets

- unordered
- Unindexed
- Mutable
- Unique elements

Representation : curly braces{} or the set()

In [ ]:
# now this is empty set
num = set()
empty={}

print(type(num))
print(type(empty))

<class 'set'>
<class 'dict'>
{'mango', 'banana', 'apple', 'pear', 'cherry'}
<class 'set'>
{'apple': '1', 'banana': '2', 'cherry': '3', 'mango': '4', 'pear': '5'}
<class 'dict'>

In [ ]:
#accessing elemets in set. (not like list or tuple)
#sets do not have indexing or slicing so only way is to loop through set
for fruit in fruits:
    print(fruit, end="********")

mango********banana********apple********pear********cherry********

In [ ]:
#modfying a set
#ADDING AN ELEMENT
fruits={"apple","mango","banana"}
print(fruits)
fruits.add("CARROt")
print(fruits)



#uodatubg an element
fruits.update(["mango", "grape"])
print(fruits)

#removing an element
# fruits.remove("banana")  # Removes 'banana', raises an error if not found
# fruits.discard("grape")  # Removes 'grape', does NOT raise an error if not found
# print(fruits)

#clearing the set
fruits.clear()  # Removes all elements
print(fruits)   # Output: set()

{'mango', 'apple', 'banana'}
{'CARROt', 'mango', 'apple', 'banana'}
{'grape', 'mango', 'banana', 'CARROt', 'apple'}
set()

In [ ]:
f={"apple","mango","banana"}

f.update(["mango", "grape"])
print(f)

f.remove("mango")
print(f)

f.discard("banana")
print(f)

f.clear()
print(f)

{'grape', 'mango', 'apple', 'banana'}
{'grape', 'apple', 'banana'}
{'grape', 'apple'}
set()

In [ ]:
#union
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

#intersection
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

#difference
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

#symmetric difference
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}