<a href="https://colab.research.google.com/github/pranavkagrawal02/Minor-In-AI-IIT-Ropar/blob/main/Feb_10_Batch_4_File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### File Modes

In [ ]:
#File Modes

#read - r
#overwrite - w
#append - a
# r+
# w+
#a+
 #Python - Text, binary

 #rb

### Open, Read, *Write* and Close operation

#### Digital Student Record system

In [ ]:
# Steps to write to a file

# 1. Open the file
f1=open('student.txt','w')

# 2. Write to the file
print(f1.write('Hello, I am learning Python. This is Meenakshi'))
f1.tell()
f1.write('Hello, I am learning Python. This is Meenakshi')

# 3. Close the file
f1.close()

46

In [ ]:
#Steps to read from a Text file

# 1. Open the file
f1=open('student.txt','r')
f2=open("test.txt",'w')
# 2. Read from the file
print(f1.read())
f2.write(f1.read())

# 3. Close the file
f1.close()
f2.close()

Hello, I am learning Python. This is MeenakshiHello, I am learning Python. This is Meenakshi

In [ ]:
#Steps to append new content to a file

#1. Open the file in append mode
f1=open("student.txt",'a')

#2. Write content to the file
f1.write("\nThis is a new line")

#3. Close the file
f1.close()

In [ ]:
f1=open("student.txt",'w')
f1.write("This is a new line in write mode")
f1.close()

In [ ]:
f1=open("student.txt",'r')
print(f1.read(10))
print(f1.tell())
f1.close()

This is a
10

In [ ]:
f1=open("student.txt",'r+')
f1.write("This is a new line in write mode")
f1.seek(0)
print(f1.read())
f1.close()

This is a new line in write mode

### Read line by line - readlines()

In [ ]:
# Open a file to write details of 4 students' reg_no, name and mark

f1=open("student.txt",'w')
f1.write("Reg_no\tName\tMark\n")
for i in range(4):
    reg_no=input("Enter reg_no: ")
    name=input("Enter name: ")
    mark=input("Enter mark: ")
    f1.write(reg_no+"\t"+name+"\t"+mark+"\n")
f1.close()

Enter reg_no: 1
Enter name: a
Enter mark: 32
Enter reg_no: 2
Enter name: b
Enter mark: 45
Enter reg_no: 3
Enter name: d
Enter mark: 44
Enter reg_no: 4
Enter name: e
Enter mark: 39

In [ ]:
with open("student.txt",'r') as f1:
    lines=f1.readlines()
    print(lines)
    for line in lines:
        print(line)
        # break

['Reg_no\tName\tMark\n', '1\ta\t32\n', '2\tb\t45\n', '3\td\t44\n', '4\te\t39\n']
Reg_no	Name	Mark

1	a	32

2	b	45

3	d	44

4	e	39

### Use of Context Manager

In [ ]:
#Demonstrate file handling exception for file operations

try:
  with open("student.txt",'r') as f3:
    print(f3.read())
except Exception as e:
  print(e)
else:
  print("File opened successfully")
finally:
  print("File closed")

Reg_no	Name	Mark
1	a	32
2	b	45
3	d	44
4	e	39

File opened successfully
File closed

In [ ]:
f1=open("student.txt",'r')
f2=open("nex.txt",'w')
f2.write(f1.read())
f1.close()

Reg_no	Name	Mark
1	a	32
2	b	45
3	d	44
4	e	39