<a href="https://colab.research.google.com/github/pranavkagrawal02/Minor-In-AI-IIT-Ropar/blob/main/Feb_6__Tutorial_Session_TA_session_6thFeb2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: basic example of a class

class car: # (blueprint )
  def __init__(self, name, cost):
    self.name = name
    self.cost = cost

  def display_product(self):
    print(f"Product Name: {self.name}, Cost: {self.cost}")

  def __str__(self):
    return f"Product Name: {self.name}, Cost: {self.cost}"

# Example usage:
my_product     =       car("Hyundai", 1200)


# my_product.display_product()

# another_product = car("Porsche", 25)
# another_product.display_product()

In [ ]:
print(my_product)

Product Name: Hyundai, Cost: 1200

In [ ]:
print("hello")

hello

In [ ]:
add(1, 2)

3

In [ ]:
add("1", "2")

12

In [ ]:
# prompt: overload print function so that it prints the objects attributes

class Product:
  def __init__(self, name, cost):
    self.name = name
    self.cost = cost

class Car:  # (blueprint)
  def __init__(self, name, cost):
    self.name = name
    self.cost = cost

  def display_product(self):
    print(f"Product Name: {self.name}, Cost: {self.cost}")

  def __str__(self):
    return f"Product Name: {self.name}, Cost: {self.cost}"

# Example usage:
my_product = Car("Hyundai", 1200)

my_product

In [ ]:
# def # define
def add():
  print('namaste')

In [ ]:
add()

namaste

In [ ]:
print('namaste')

namaste

In [ ]:
add()

namaste

In [ ]:
add()

namaste

In [ ]:
add(1,2)

TypeError: add() takes 0 positional arguments but 2 were given

In [ ]:
def add(a, b):
  print(a + b)

In [ ]:
add(1,2)

3

In [ ]:
add("1","2")

12

In [ ]:
"hell" "high"

In [ ]:
var1 = add(1,2)

3

In [ ]:
print(var1)

None